<div class='container'>

    <h2>レシピ新規登録</h2>

        <%= form_for @recipe, url: recipes_path do |f| %>

            <div class = 'col-xs-6'>
                <br>
                <%= f.attachment_field :image %>
            </div>

            <div class = 'col-xs-6'>
                <div class="field">
                    <h4>カクテル名</h4>
                    <%= f.text_field :name %>
                </div>
                <div class="field">
                    <h4>レシピ説明</h4>
                    <%= f.text_area :discription %>
                </div>
                <div class="field">
                    <h4>ジャンル</h4>
                    <!%= f.collection_select :genre_id, @genre, :id, :name, include_blank: "-- 選択してください --" %>
                    #ジャンルの情報を入力したら表示されるか確認
                </div>

                <div class="actions">
                    <%= f.submit '新規登録' %>
                </div>

            </div>
        <% end %>

</div>