<div class = container>
	<div class = row>

		<div class = 'col-xs-6'>
		<%= attachment_image_tag @recipe, :image, :fill, 300, 300,  fallback: "no_image_square.jpg"%>
		</div>

		<div class = 'col-xs-6'>
			<table>
				<thead>
					<tr>
						<th style="border:none;"></th>
						<th style="border:none;"></th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td class="panel-body">
							<h2>カクテル名</h2>
						</td>
						<td>
							<h2><%= @recipe.name %></h2>
						</td>
					</tr>
					<tr>
						<td class="panel-body">
							レシピ説明
						</td>
						<td class="panel-body">
							<%= @recipe.discription %>
						</td>
					</tr>
					<tr>
						<td class="panel-body">
	    					<%= @recipe.post_comments.count %>件コメント
  						</td>
					</tr>
				</tbody>
			</table>
			<table>
			 	<% @recipe.post_comments.each do |post_comment| %>
			 		<thead>
						<tr>
							<th style="border:none;"></th>
							<th style="border:none;"></th>
							<th style="border:none;"></th>
							<th style="border:none;"></th>
							<th style="border:none;"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="panel-body">
			            		<a href="#" class="link-author">
			            			<%= post_comment.user.name %>
			            		</a>
		            		</td>
		            		<td class="panel-body">
		            			<%= post_comment.created_at.strftime('%Y/%m/%d') %>
		            		</td>
		            		<td class="panel-body">
		            			<%= post_comment.comment %>
		            		</td>
		            		<td class="panel-body">
		            			<% if post_comment.user == current_user %>
					            	<%= link_to "削除", recipe_post_comment_path(post_comment.recipe, post_comment), method: :delete, class: "btn btn-danger pull-right" %>
					          	<% end %>
		            		</td>
		            	</tr>
		            	<tr class="recipe-detail">
		            		<%= render '/recipes/detail', recipe: @recipe %>
		            	</tr>
				    <tbody>
			  <% end %>
			<table>
				<%= form_for [@recipe, @post_comment] do |f| %>
		      		<%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>

		  			<%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
				<% end %>
			</table>

	</div>
</div>
