<div class = container>
	<div class = row>

		<div class = 'col-xs-6'>
		<%= attachment_image_tag @recipe, :image, :fill, 300, 300,  fallback: "no_image_square.jpg"%>
		</div>

		<div class = 'col-xs-6'>
			<table>
				<thead>
					<tr>
						<th style="border:none;"></th>
						<th style="border:none;"></th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td class="panel-body">
							カクテル名
						</td>
						<td>
							<%= @recipe.name %>
						</td>
					</tr>
					<tr>
						<td class="panel-body">
							レシピ説明
						</td>
						<td class="panel-body">
							<%= @recipe.discription %>
						</td>
					</tr>
					<tr>
						<td class="panel-body">
							ジャンル
						</td>
						<td>
							<!%= @recipe.genre.name %>
						</td>
					</tr>
					<tr>
						<td>
							<i class="fa fa-comment"></i>
							<a href="#comments">
								<%= @recipe.post_comments.count %>
							</a>
						</td>
					</tr>
					<tr>
						<div class="comment-list bt style-2" id="comments">
  							<div class="float-wrapper">
	    						<h2 class="comment-count">
	    							<%= @recipe.post_comments.count %>件コメント
	    						</h2>
  							</div>
  						</div>
					</tr>
				</tbody>
			</table>
			<ol>
			 	<% @recipe.post_comments.each do |post_comment| %>
			    	<li class="comment">
				      	<div class="comment-body bb">
				        	<div class="comment-avatar">
				        	</div>
				        	<div class="comment-text">
				          		<div class="comment-author clearfix">
				            		<a href="#" class="link-author">
				            			<%= post_comment.user.name %>
				            		</a>
				            <span class="comment-meta">
				             <span class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
				           	</span>
				          </div>
				          <div class="comment-entry"><%= post_comment.comment %></div>
				          <% if post_comment.user == current_user %>
				            <div>
				              <%= link_to "削除", recipe_post_comment_path(post_comment.recipe, post_comment), method: :delete, class: "btn btn-danger pull-right" %>
				            </div>
				          <% end %>
				        </div>
				      </div>
				    </li>
			  <% end %>
			</ol>
			<%= form_for [@recipe, @post_comment] do |f| %>
			  	<div class="row">
			    	<div class="col-sm-12">
			      		<%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
			    	</div>
			  	</div>
			  <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
			<% end %>

			<% if @recipe.favorited_by?(current_user) %>
				<li>
				  <%= link_to recipe_favorites_path(@recipe), method: :delete, remote: true do %>
				    <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
				    <%= @recipe.favorites.count %> いいね
				  <% end %>
				</li>
				<% else %>
				<li>
				  <%= link_to recipe_favorites_path(@recipe), method: :post do %>
				    <i class="fa fa-heart-o" aria-hidden="true"></i>
				    <%= @recipe.favorites.count %> いいね
				  <% end %>
				</li>
			<% end %>

	</div>
</div>
