<!DOCTYPE html>
<html>

  <head>
    <title>Cocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="navbar">
      <div class="container">
        <%= link_to root_path do %>
          <nav class="nav navbar-nav navbar-left">
            <h1>Cocktail</h1>
          </nav>
        <% end %>
      </div>

      <% if user_signed_in? %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li class="link">
             <%= link_to "マイページ", user_path(current_user) %>
            </li>
            <li class="link">
              <%= link_to "レシピ一覧", recipes_path %>
            </li>
            <li class="link">
              <%= link_to "レシピ投稿", new_recipe_path %>
            </li>
            <li class="link">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </nav>
      <% else %>
        <nav>
            <ul class="nav navbar-nav navbar-right">
              <li class="link">
               <%= link_to "Cocktailについて", about_path %>
              </li>
              <li class="link">
                <%= link_to "レシピ", recipes_path %>
              </li>
              <li class="link">
                <%= link_to "ユーザー情報新規登録", new_user_registration_path %>
              </li>
              <li class="link">
                <%= link_to "ログイン", new_user_session_path %>
              </li>
          </ul>
        </nav>
      <% end %>
    </header>

    <div class="line">
    </div>



    <div>
      <%= yield %>
    </div>

  </body>

</html>
