<!DOCTYPE html>
<html>

  <head>
    <title>Cocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="navbar">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <h1>Cocktail</h1>
        </nav>
      </div>

      <% if user_signed_in? %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li>
             <!%= link_to "マイページ", customers_path %>
            </li>
            <li>
              <%= link_to "レシピ一覧", recipes_path %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </nav>
      <% else %>
        <nav>
            <ul class="nav navbar-nav navbar-right">
              <li>
               <%= link_to "Cocktailについて", about_path %>
              </li>
              <li>
                <%= link_to "Recipes", recipes_path %>
              </li>
              <li>
                <%= link_to "Sign up", new_user_registration_path %>
              </li>
              <li>
                <%= link_to "Log in", new_user_session_path %>
              </li>
          </ul>
        </nav>
      <% end %>
    </header>

    <div>
      <%= yield %>
    </div>

  </body>

</html>
